.mainTasksBox{
    width: 100%;
    height:94vh;
    background-color: #ECF1F4;
    display: flex;
    justify-content: center;
}

.companyTaskBox{
    position: relative;
    top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.companyTaskBox input{
    width:600px;
}

@media (max-width:400px){
    .mainTasksBox{
        width: 100vw;
        height: 100vh;
    }
    .companyTaskBox input{
        width: 300px;
    }

    .companyTaskBox div{
        text-align: center;
    }

    .companyTaskBox div p {
        font-size: 12px;
        margin-bottom: 15px;
    }
}